
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>AdminIndex</h1>
<a type="button"
   class="btn btn-primary" href="/Admin/GetList">
   Ürün Listesi Getir
    <span style="font-size: 14px;" class="ms-2 fas fa-arrow-right"></span>
</a>
