<section class="section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <p class="text-primary text-uppercase fw-bold mb-3"> <h1>Ürünlerimiz Ayrıcalıklı yapan özellikler</h1></p>
                    <p>Ürünlerimiz efektif ve etkin bakış açısıyla son teknoloji kullanarak hazırlanır.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="icon-box-item col-lg-4 col-md-6">
                <div class="block">
                    <div class="icon">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </div>
                    <h3 class="mb-3">Kolay Entegrasyon </h3>
                    <p class="mb-0">Faliyetlerinizin tek bir panel üzerinden yönetilmesini sağlayan entegrasyon ile zamandan tasarruf etmenizin yanı sıra işlerinizi daha verimli bir şekilde yönetme fırsatını da elde edersiniz. </p>
                </div>
            </div>
            <div class="icon-box-item col-lg-4 col-md-6">
                <div class="block">
                    <div class="icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <h3 class="mb-3">Yüksek Kalite</h3>
                    <p class="mb-0">Yazılım Mimarisinin Kalite Gereksinimlerinin tamamen uygulanması ile birlikte kullanmış olduğumuz yazılım alt yapıları neticesinde, daha kesin ve net adımlarla yazılımlarınızı oluşturuyoruz. </p>
                </div>
            </div>
            <div class="icon-box-item col-lg-4 col-md-6">
                <div class="block">
                    <div class="icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <h3 class="mb-3">Eksiksiz Destek</h3>
                    <p class="mb-0">Kullanıcılarımızın harika ve hatasız bir deneyim yaşamaları için tüm sorumluluğu üstleniyoruz. Bu nedenle teknik ekibimiz 7/24 hızlı yanıtlar, kullanım kılavuzları ve detaylı teknik bilgi için burada.</p>
                </div>
            </div>
        </div>
    </div>
</section>